<div class="contact-form-wrapper max-height">
    <form class="container contact-form" [formGroup]="form" autocomplete="off">
        <div class="row">
          <div class="form-group col-lg-6">
            <label>Name</label>
            <div class="input-group" style="width: 100%;">
              <input
                type="text"
                formControlName="name"
                class="form-control"
                placeholder="Enter Name"
                style="width: 100%;"
              />
            </div>
            <mat-error *ngIf="isFieldValid('name')">
              name is required
            </mat-error>
          </div>
          <div class="form-group col-lg-6">
            <label>Phone</label>
            <div class="input-group" style="width: 100%;">
              <input
                type="text"
                formControlName="phone"
                class="form-control"
                placeholder="Enter Phone"
                style="width: 100%;"
              />
            </div>
            <mat-error *ngIf="isFieldValid('phone')">
              phone is required
            </mat-error>
          </div>
          <div class="form-group col-lg-6">
            <label>Address</label>
            <div class="input-group" style="width: 100%;">
              <input
                type="text"
                formControlName="address"
                class="form-control"
                placeholder="Enter Address"
                style="width: 100%;"
              />
            </div>
            <mat-error *ngIf="isFieldValid('address')">
              address is required
            </mat-error>
          </div>
          <div class="form-group col-lg-6">
            <label>Notes</label>
            <div class="input-group" style="width: 100%;">
              <input
                type="text"
                formControlName="notes"
                class="form-control"
                placeholder="Enter Notes"
                style="width: 100%;"
              />
            </div>
            <mat-error *ngIf="isFieldValid('notes')">
              notes is required
            </mat-error>
          </div>
        </div>
      
    </form>
    <button [disabled]="allIsFormsValid" class="btn btn-primary" [ngClass]="{'grey-color' : allIsFormsValid}" 
        (click)="sendFormData()">{{ title }} Contact</button>
</div>